body {
    font-family: Arial;
    margin: 30px;
}

#grid {
    display: grid;
    grid-template-columns: 80px repeat(5, 1fr);
    margin-top: 20px;

    background-image:
    linear-gradient(#e8e8e8 1px, transparent 1px),
    linear-gradient(90deg,#e8e8e8 1px, transparent 1px);

    background-size:
    100% 40px,
    calc((100% - 80px)/5) 100%;
    background-position:
    0 0,
    80px 0;
}

.cell {
    height: 40px;
    font-size: 12px;
    position: relative;
    padding:0;
    box-sizing:border-box;
    z-index:1;
}

.header {
    background: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

.bloque {
    position:absolute;
    left:2px;
    right:2px;
    color:white;
    font-size:16px;
    font-weight:bold;
    border-radius:4px;
    padding:4px;

    display:flex;
    align-items:center;
    justify-content:center;

    overflow:hidden;
    text-overflow:ellipsis;

    z-index:10;
    box-shadow:0 2px 4px rgba(0,0,0,0.2);
}
